fastapi==0.116.1
uvicorn[standard]==0.35.0
sqlalchemy==2.0.43
pydantic==2.11.7
python-multipart==0.0.20
opencv-python==4.11.0.86
easyocr==1.7.2
pytesseract==0.3.13
numpy==2.2.6
scikit-image==0.25.2
Pillow==11.3.0
pytest==8.4.1

